.row{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box}
	a:active,a:focus,a:hover,a:visited{text-decoration:none}
	p{font-family:Arial}
	body{overflow-x:hidden!important;margin:0 auto}
.container{
	position:relative;
	width:100%}
	div#header{
		background:linear-gradient(to left,#40f94a,#463ff9);
		padding-top:50px;
		padding-bottom:50px}
	div#header 
	.logo{float:left;margin-left:10px}
	div#header nav{
		float:right;
		margin-right:10px;
		background-color:none}
	div#header nav ul{
		padding:0;
		margin:0;
		list-style:none;
		position:relative}
	div#header nav ul li{
		margin:0 20px 0 0;
		display:inline-block;
		border-radius:10px;
		border:2px solid #fff;
		background:radial-gradient(#1ea018,#463ff9)}
	div#header nav ul a{
		display:block;
		padding:0 25px;
		color:#FFF;
		font-size:14px;
		line-height:40px;
		text-decoration:none}
	div#header nav ul ul{
		display:none;
		position:absolute;
		top:100%}
	div#header nav ul ul li{
		min-width:50%;
		float:none;
		margin:5px;
		display:list-item;
		position:relative}
	div#header nav ul li:hover>ul{
		display:list-item}
	div#main{background:linear-gradient(to left,#40f94a,#463ff9)}
	div#main 
	.main-title{
		padding:50px;
		width:100%;
		text-transform:uppercase;
		color:#b1fedb;
		margin-top:-60px}
		div#main 
		.main-title 
		h1{
			text-align:center;
			font-size:56px}
			div#about{
				padding-top:20px;
				padding-bottom:20px}
				div#about 
				.about-item{
					padding-top:20px;
					padding-bottom:20px;
					margin:10px}div#about 
					.about-item 
					img{
						width:60%;
						height:60%}
						div#about 
						.about-item 
						.group_IT{
							padding:5px;
							color:#975eb5;
							font-size:18px;
							font-weight:700}
							div#about 
							.about-item .command{
								padding:5px;
								color:#56a193;
								font-size:18px;
								font-weight:700}
								div#about 
								.about-item 
								.project_management{
									padding:5px;
									color:#975eb5;
									font-size:18px;
									font-weight:700}
									div#content 
									.box-basecamp 
									img{
										margin:15px;
										width:100%;
										height:100%}
										div#content 
										.box-basecamp:hover{
											opacity:.8}
											div#content 
											.box-facebook 
											img{
												margin:15px;
												width:100%;
												height:100%}
												div#content 
												.box-facebook:
												hover{
													opacity:.8}
													div#content .box-slack img{margin:15px;width:100%;height:100%}div#content .box-slack:hover{opacity:.8}div#content .box-telegram img{margin:15px;width:100%;height:100%}div#content .box-telegram:hover{opacity:.8}div#content .box-jira img{margin:15px;width:100%;height:100%}div#content .box-jira:hover{opacity:.8}div#content .box-github img{margin:15px;width:100%;height:100%}div#content .box-github:hover{opacity:.8}div#team_content{padding-top:40px;padding-bottom:40px}div#team_content img{margin:14px;width:100%;opacity:1}div#team_content p{margin-left:15px;font-size:15px;text-align:justify;z-index:1}div#team_content .block{z-index:2;-webkit-transform:scale(1,1);-webkit-transition-timing-function:ease-out;-webkit-transition-duration:550ms;-moz-transform:scale(1,1);-moz-transition-timing-function:ease-out;-moz-transition-duration:550ms}div#team_content .block:hover{-webkit-transform:scale(1.2,1.2);-webkit-transition-timing-function:ease-out;-webkit-transition-duration:550ms;-moz-transform:scale(1.2,1.2);-moz-transition-timing-function:ease-out;-moz-transition-duration:550ms}div#team_content .facebook,div#team_content .google_plus,div#team_content .skype,div#team_content .telegram,div#team_content .viber{margin-top:20px}div#team_content hr{width:100%}div#it_about_img{padding-top:2%;padding-bottom:2%}div#it_about_img .img_main{margin:0 auto}div#it_about_img .img_main img{width:100%}div#it_content .github .github-left{background:linear-gradient(#ceea9f,#6a2c89)}div#it_content .github .github-left .github-image{margin-bottom:10%}div#it_content .github .github-left .github-image img{width:35%;height:35%}div#it_content .github .github-left .github-about{margin:5%}div#it_content .github .github-left .github-about p{color:#fff;font-size:18px}div#it_content .github .github-right .github-first{background:#04f6bc}div#it_content .github .github-right .github-first img{width:100%}div#it_content .github .github-right .github-second{background:#6a2c89}div#it_content .github .github-right .github-second p{padding-top:10%;padding-bottom:10%;amargin:0 auto;font-size:17px;color:#fff}div#it_content .github .github-right .github-third{background:#6a2c89}div#it_content .github .github-right .github-third ul{margin-left:-5%;margin-top:2%}div#it_content .github .github-right .github-third ul li{font-size:15px;color:#fff}div#it_content .github .github-right .github-fourth{background:#fff}div#it_content .github .github-right .github-fourth img{width:100%}div#it_content .jira .jira-left{background:linear-gradient(#ceea9f,#6a2c89)}div#it_content .jira .jira-left .jira-image{margin-top:10%;margin-bottom:10%}div#it_content .jira .jira-left .jira-image img{width:60%;height:60%}div#it_content .jira .jira-left .jira-about{margin:5%}div#it_content .jira .jira-left .jira-about p{color:#fff;font-size:18px}div#it_content .jira .jira-right .jira-first{background:#04f6bc}div#it_content .jira .jira-right .jira-first img{width:100%}div#it_content .jira .jira-right .jira-second{background:#6a2c89}div#it_content .jira .jira-right .jira-second p{padding-top:10%;padding-bottom:10%;margin:0 auto;font-size:17px;color:#fff}div#it_content .jira .jira-right .jira-third{background:#6a2c89}div#it_content .jira .jira-right .jira-third ul{margin-left:-5%;margin-top:2%}div#it_content .jira .jira-right .jira-third ul li{font-size:14px;color:#fff}div#it_content .jira .jira-right .jira-fourth{background:#fff}div#it_content .jira .jira-right .jira-fourth img{width:100%}div#it_content .tfs .tfs-left{background:linear-gradient(#ceea9f,#6a2c89)}div#it_content .tfs .tfs-left .tfs-image{margin-top:10%;margin-bottom:10%;margin-left:5%}div#it_content .tfs .tfs-left .tfs-image img{width:60%;height:60%}div#it_content .tfs .tfs-left .tfs-about{margin:5%;top:90%}div#it_content .tfs .tfs-left .tfs-about p{color:#fff;font-size:18px}div#it_content .tfs .tfs-right .tfs-first{background:#04f6bc}div#it_content .tfs .tfs-right .tfs-first img{width:100%}div#it_content .tfs .tfs-right .tfs-second{background:#6a2c89}div#it_content .tfs .tfs-right .tfs-second p{padding-top:10%;padding-bottom:10%;margin:0 auto;font-size:22px;color:#fff}div#it_content .tfs .tfs-right .tfs-third{background:#6a2c89;padding-top:5%;padding-bottom:5%}div#it_content .tfs .tfs-right .tfs-third ul{margin-left:-5%;margin-top:2%}div#it_content .tfs .tfs-right .tfs-third ul li{font-size:22px;color:#fff}div#it_content .tfs .tfs-right .tfs-fourth{background:#fff}
													div#it_content .tfs .tfs-right .tfs-fourth img{width:100%}div#it_content .gemini .gemini-left{background:linear-gradient(#ceea9f,#6a2c89)}div#it_content .gemini .gemini-left .gemini-image{margin-top:10%;margin-bottom:10%;margin-left:5%}div#it_content .gemini .gemini-left .gemini-image img{width:40%;height:40%}div#it_content .gemini .gemini-left .gemini-about{margin:5%;top:90%}div#it_content .gemini .gemini-left .gemini-about p{color:#fff;font-size:18px}div#it_content .gemini .gemini-right .gemini-first{background:#04f6bc}div#it_content .gemini .gemini-right .gemini-first img{width:100%}div#it_content .gemini .gemini-right .gemini-second{background:#6a2c89}div#it_content .gemini .gemini-right .gemini-second p{padding-top:10%;padding-bottom:10%;margin:0 auto;font-size:18px;color:#fff}div#it_content .gemini .gemini-right .gemini-third{background:#6a2c89}div#it_content .gemini .gemini-right .gemini-third p{padding-top:10%;padding-bottom:10%;font-size:18px;color:#fff}div#it_content .gemini .gemini-right .gemini-fourth{background:#fff}div#it_content .gemini .gemini-right .gemini-fourth img{width:100%}div#it_content .redbooth .redbooth-left{background:linear-gradient(#ceea9f,#6a2c89)}
													div#it_content .redbooth .redbooth-left .redbooth-image{margin-top:10%;margin-bottom:10%;margin-left:5%}div#it_content .redbooth .redbooth-left .redbooth-image img{width:60%;height:60%}div#it_content .redbooth .redbooth-left .redbooth-about{margin:5%;top:90%}div#it_content .redbooth .redbooth-left .redbooth-about p{color:#fff;font-size:18px}div#it_content .redbooth .redbooth-right .redbooth-first{background:#04f6bc}div#it_content .redbooth .redbooth-right .redbooth-first img{width:100%}div#it_content .redbooth .redbooth-right .redbooth-second{background:#6a2c89}div#it_content .redbooth .redbooth-right .redbooth-second p{padding-top:10%;padding-bottom:10%;margin:0 auto;font-size:18px;color:#fff}div#it_content .redbooth .redbooth-right .redbooth-third{background:#6a2c89}
													div#it_content .redbooth .redbooth-right .redbooth-third p{padding-top:5%;padding-bottom:5%;font-size:16px;color:#fff}div#it_content .redbooth .redbooth-right .redbooth-third ul li{color:#fff;font-size:16px}div#it_content .redbooth .redbooth-right .redbooth-fourth{background:#fff;padding-top:5%}div#it_content .redbooth .redbooth-right .redbooth-fourth img{width:100%}div#project_content{padding-top:40px;padding-bottom:40px}div#project_content .photo-slack{width:80%}div#project_content .header-slack{padding:5px;margin:5px;border:5px solid #f3d493;border-radius:5px 10px 15px 1px;border-bottom:3px solid #333}
													div#project_content .header-slack h2{margin-left:2%}
													div#project_content .about-slack{margin:5px;padding:5px;border:5px solid #f3d493;border-radius:5px 10px 15px 1px}
													div#project_content .about-slack p{font-size:18px}
													div#project_content .slack-description{margin:5px;padding:5px;border:5px solid #f3d493;border-radius:5px 10px 15px 1px}
													div#project_content .slack-description li{font-size:15px}
													div#project_content .photo-basecamp{width:100%}
													div#project_content .photo-basecamp img{margin-left:auto;margin-top:1%;margin-bottom:1%}
													div#project_content .header-basecamp{padding:5px;margin:5px;border:5px solid #f3d493;border-radius:5px 10px 15px 1px;border-bottom:3px solid #333}
													div#project_content .header-basecamp h2{margin-left:2%}
													div#project_content .about-basecamp{margin:5px;padding:5px;border:5px solid #f3d493;border-radius:5px 10px 15px 1px}
													div#project_content .about-basecamp p{font-size:18px}
													div#project_content .basecamp-description{margin:5% 5px 5px;padding:5px;border:5px solid #f3d493;border-radius:5px 10px 15px 1px}
													div#project_content .basecamp-description li{font-size:15px}
													div#footer{background:linear-gradient(to top,#40f94a,#463ff9);padding-bottom:50px}
													div#footer .footer-text{float:left;margin-left:-10px;padding:30px;margin-bottom:100px}
													div#footer .footer-text h2{font-size:26px}
													div#footer .footer-text ul li{font-size:19px}
													div#footer nav{float:left;margin-left:10px;background-color:none}
													div#footer nav ul{padding:0;margin:0;list-style:none;position:relative}
													div#footer nav ul li{margin:0 10px 0 0;display:inline-block;border-radius:10px;border:1px solid #fff;background:radial-gradient(#978948,#388e7c)}
													div#footer nav ul a{display:block;padding:0 10px;color:#FFF;font-size:12px;line-height:30px;text-decoration:none}
													div#footer nav ul li:hover>ul{display:inherit}
													div#footer .social-items{text-align:center;display:inline-block}
													div#footer .social-items .icon{padding:10px}@media (min-width:0px) and (max-width:319px){
														div#header img{margin-left:23%}div#header nav{margin-right:0}div#header nav ul li{margin:5px}div#header nav ul a{font-size:12px;padding:6px;line-height:30px}div#main .main-title{padding-top:20px}div#main .main-title h1{font-size:32px}div#footer .footermenu{margin-bottom:15px}div#footer .footermenu li{margin-top:10px}div#footer .social-items{display:inline-block}div#footer .social-items a{text-align:right}}@media (min-width:320px) and (max-width:477px){div#header img{margin-left:25%}div#header nav{margin-right:0}div#header nav ul li{margin:5px}div#header nav ul a{font-size:13px;padding:5px;line-height:30px}div#main .main-title{padding-top:20px}div#main .main-title h1{font-size:36px}div#footer .footermenu{margin-bottom:15px}div#footer .footermenu li{margin-top:10px}div#footer .social-items{display:inline-block}div#footer .social-items a{text-align:right}}@media (min-width:478px) and (max-width:767px){div#header img{margin-left:20px}div#header nav{margin-right:60px}div#header nav ul li{margin:5px;display:list-item}div#header nav ul a{font-size:14px;padding:4px;line-height:20px}.main-title{margin-top:20px}div#footer .footermenu{margin-bottom:15px}div#footer .footermenu li{margin-top:10px}div#footer .social-items{display:inline-block;margin-right:-15%}div#footer .social-items a{text-align:right}}@media (min-width:768px) and (max-width:991px){div#header img{margin-left:-20%}div#header nav{margin-left:0}div#header nav ul li{margin:5px}div#header nav ul a{font-size:12px;padding:5px;line-height:25px}.main-title{margin-top:20px}div#footer .footermenu li{margin-top:10px}div#footer .social-items{display:inline-block}div#footer .social-items a{margin:1px}}@media (min-width:992px) and (max-width:1200px){div#header nav ul li{margin:5px}div#header nav ul a{font-size:14px;padding:11px;line-height:30px}div#footer .footermenu li{margin-top:10px}}